<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright {{ site.title }}.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Suscribe</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- JS Zurb Foundation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

<!-- JS Google Maps  -->
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
